@import "../css/libs/picchu.css";
@import "slick";
@import "slick-theme";

$primary-color: #28E881;
$secondary-color: #437F4E; 

html {
	background-color: #232323;
}

.preload * {
	transition: none !important;
	transform: none !important;
}

.l-grid.full {
	overflow: hidden;
}

.loupe-mosiac-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.loupe-header {
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	padding: 0.3em 1em;

	h1 {
		margin: 0;
	}

	&:hover, &:focus {
		text-decoration: none;
	}
}

.mosiac-item {
	flex:1 0 40%;
	height: 300px;
	overflow: hidden;
	position: relative;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:nth-child(odd) {
		flex:3 0 250px;
	}
}

a {
	color: $secondary-color;
}

ul {
	list-style: none;
	padding-left: 0;
}

.featured-channel {
	height: 100%;

	.featured-channel-bg-img {
		background-position-y: 50%; 
		background-size: cover;
		height: 100%;
		transition: transform 30s linear;
	}

	&:hover, &:focus {
		.featured-channel-bg-img {
			transform: scale(1.6);
		}
	}

	.channel-image {
		display: block;
		height: 100%
	}

	.featured-channel-name {
		background-color: rgba(0,0,0,0.7);
		bottom: 0;
		color: #FFFFFF;
		margin: 0;
		padding: 0.3em 0.5em;
		position: absolute;
	}
}

.logo-block {
	h1 {
		margin: 0;
		font-size: 6em;
		padding-left: 0.3em;
		padding-top: 0.7em;
		text-decoration: none;
	}
}

.loupe-reel-container {
	position: relative;
}

.loupe-reel {
	.slick-slide {
		height: 100vh;
		position: relative;
		transition: opacity 2s ease-out !important;
		opacity:0 !important;
		&.slick-active {
			transition: opacity 5s ease-out !important;
			opacity: 1 !important;

			.loupe-img {
				transform: scale(1.4);
				transition: transform 45s linear;
			}
		}
	}
	.loupe-img {
		display: block;
		margin: 0 auto;
		transition: transform 15s linear;
		width: 100%;
	}
}

.loupe-reel-nav {
	
	@media all and (min-width: 992px) {
		width: 60%;
	}
	.loupe-img {
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
}

.loupe-control-panel-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;

	&:hover .loupe-reel-control-panel, &:focus .loupe-reel-control-panel {
		animation-duration: 1s;
		animation-delay: 0s;
		animation-name: slideIn;
	}
}

.loupe-reel-control-panel {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	color: #FFFFFF;
	left: 0;
	padding: 1em;
	position: absolute;
	animation-duration: 1s;
	animation-name: slideOut;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;

	h2, p {
		margin: 0;
	}

	button {
		background-color: transparent;
		margin: 0 0.5em;
		padding: 0;

		svg {
			fill: #BABABA;
			transition: fill ease-out 0.3s;
		}

		&:hover svg, &:focus svg {
			fill: $primary-color;
			transition: fill 0s;
		}
	}

	.loupe-reel-data {
		padding-bottom: 1em;
	}

	.home-button {
		display: inline-block;
		margin-left: 1em;
	}

	.loupe-image-highlight {
		text-align: right;

		> * {
			display: inline-block;
			//float: right;
		}
	}

	.current-img-name {
		bottom: 0.1em;
		color: $secondary-color;
		padding: 0 1em;
		position: relative;
	}
	.loupe-reel-controls {
		text-align: center;

		.play-button {
			display: none;
		}
	}

	.current-image-information {
		background-color: rgba(0, 0, 0, 0.9);
		display: none;
		margin-bottom: 1em;
		padding: 1em;

		label {
			color: $secondary-color;
			padding-bottom: 1em;
		}

		.loupe-img {
			margin: 0 auto;
			width: 100%;
		}
	}
}

.slick-slider {
	margin: 0 auto;
}

.slick-next {
	right: 40px;
}

.slick-prev {
	left: 40px;
}


//Helpers (add to picchu?)
.uppercase {
	text-transform: uppercase;
}


@keyframes slideOut {
	from {
		bottom: 0;
		opacity: 1;
	}

	to {
		bottom: -500px;
		opacity: 0;
	}
};

@keyframes slideIn {
	from {
		bottom: -500px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
};