@charset "UTF-8";
@import url(../css/libs/picchu.css);
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrich-regular-webfont.eot");
  src: url("../fonts/ostrich-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-regular-webfont.woff2") format("woff2"), url("../fonts/ostrich-regular-webfont.woff") format("woff"), url("../fonts/ostrich-regular-webfont.ttf") format("truetype"), url("../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'simplifica';
  src: url("../fonts/simplifica_typeface-webfont.eot");
  src: url("../fonts/simplifica_typeface-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simplifica_typeface-webfont.woff2") format("woff2"), url("../fonts/simplifica_typeface-webfont.woff") format("woff"), url("../fonts/simplifica_typeface-webfont.ttf") format("truetype"), url("../fonts/simplifica_typeface-webfont.svg#simplificasimplifica") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #232323;
}

.preload * {
  -webkit-transition: none !important;
          transition: none !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}
.preload * .loupe-reel-control-panel {
  bottom: 0;
}

.l-grid.full {
  overflow: hidden;
}

.loupe-mosiac-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 65px;
}

.loupe-header {
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 1em;
  height: 65px;
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 500;
}
.loupe-header h1 {
  font-family: "freight-sans-pro",sans-serif;
  margin: 0;
}
.loupe-header:hover, .loupe-header:focus {
  text-decoration: none;
}
.loupe-header .loupe-logo, .loupe-header .loupe-toolbar {
  float: left;
}
.loupe-header .loupe-logo {
  width: 25%;
}
.loupe-header .loupe-toolbar {
  position: relative;
  text-align: right;
  height: 100%;
  width: 75%;
}
.loupe-header .loupe-toolbar .loupe-menu-button {
  cursor: pointer;
  fill: #FFFFFF;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  height: 40px;
  width: 40px;
}
.loupe-header .loupe-toolbar .loupe-menu {
  bottom: -500px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: 0;
  -webkit-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
          transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
}
.loupe-header .loupe-toolbar .loupe-menu.opened {
  bottom: 65px;
  opacity: 1;
}
.loupe-header .loupe-toolbar .loupe-menu ul {
  margin: 0;
  padding: 0;
}
.loupe-header .loupe-toolbar .loupe-menu .loupe-menu-item {
  display: block;
  font-size: 2em;
  padding: 0.2em 0.8em;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  width: 100%;
}
.loupe-header .loupe-toolbar .loupe-menu .loupe-menu-item:hover, .loupe-header .loupe-toolbar .loupe-menu .loupe-menu-item:focus {
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}

.mosiac-item {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 600px;
      -ms-flex: 1 0 600px;
          flex: 1 0 600px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.mosiac-item:hover, .mosiac-item:focus {
  text-decoration: none;
}
.mosiac-item:nth-child(odd) {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 375px;
      -ms-flex: 3 0 375px;
          flex: 3 0 375px;
}
.mosiac-item .featured-channel-bg-img {
  background-position-y: 50%;
  background-size: cover;
  height: 100%;
  -webkit-transition: -webkit-transform 30s linear;
          transition: transform 30s linear;
}
.mosiac-item:hover .featured-channel-bg-img, .mosiac-item:focus .featured-channel-bg-img {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}
.mosiac-item:hover .featured-channel-name, .mosiac-item:focus .featured-channel-name {
  opacity: 1;
}
.mosiac-item .channel-image {
  display: block;
  height: 100%;
}
.mosiac-item .featured-channel-name {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #FFFFFF;
  margin: 0;
  opacity: 0;
  padding: 0.3em 0.5em;
  position: absolute;
  -webkit-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
  width: 100%;
  font-family: "ostrich_sansmedium",sans-serif;
  font-weight: 400;
}

a {
  color: #FFFFFF;
}

ul {
  list-style: none;
  padding-left: 0;
}

.logo-block h1 {
  margin: 0;
  font-size: 6em;
  padding-left: 0.3em;
  padding-top: 0.7em;
  text-decoration: none;
}

.loupe-reel-container {
  position: relative;
}

.loupe-img-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loupe-reel .slick-slide {
  height: 100vh;
  position: relative;
  -webkit-transition: opacity 2s ease-out !important;
          transition: opacity 2s ease-out !important;
  opacity: 0 !important;
}
.loupe-reel .slick-slide.slick-active {
  -webkit-transition: opacity 5s ease-out !important;
          transition: opacity 5s ease-out !important;
  opacity: 1 !important;
}
.loupe-reel .slick-slide.slick-active .loupe-img {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 55s linear;
          transition: transform 55s linear;
}
.portrait .loupe-reel .slick-slide.slick-active .loupe-img {
  -webkit-transform: scale(1.2) translateY(-70%);
      -ms-transform: scale(1.2) translateY(-70%);
          transform: scale(1.2) translateY(-70%);
}
.loupe-reel .loupe-img {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 45s linear;
          transition: transform 45s linear;
  width: 100%;
}

@media all and (min-width: 992px) {
  .loupe-reel-nav {
    width: 60%;
  }
}
.loupe-reel-nav .loupe-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.loupe-control-panel-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
.loupe-control-panel-wrapper:hover .loupe-reel-control-panel, .loupe-control-panel-wrapper:focus .loupe-reel-control-panel {
  opacity: 1;
  bottom: 0;
  -webkit-transition: bottom 0.3s 0s ease-out, opacity 0.3s 0s ease-out;
          transition: bottom 0.3s 0s ease-out, opacity 0.3s 0s ease-out;
}

.loupe-reel-control-panel {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: -500px;
  color: #FFFFFF;
  left: 0;
  padding: 1em;
  position: absolute;
  -webkit-transition: bottom 0.6s 2.5s ease-out, opacity 0.6s 2.5s ease-out;
          transition: bottom 0.6s 2.5s ease-out, opacity 0.6s 2.5s ease-out;
}
.loupe-reel-control-panel h2, .loupe-reel-control-panel p {
  margin: 0;
}
.loupe-reel-control-panel button {
  background-color: transparent;
  margin: 0 0.5em;
  padding: 0;
}
.loupe-reel-control-panel button svg {
  fill: #BABABA;
  -webkit-transition: fill ease-out 0.3s;
          transition: fill ease-out 0.3s;
}
.loupe-reel-control-panel button:hover svg, .loupe-reel-control-panel button:focus svg {
  fill: #FFFFFF;
  -webkit-transition: fill 0s;
          transition: fill 0s;
}
.loupe-reel-control-panel .loupe-reel-data {
  padding-bottom: 1em;
}
.loupe-reel-control-panel .home-button {
  display: inline-block;
  margin-left: 1em;
}
.loupe-reel-control-panel .loupe-image-highlight {
  text-align: right;
}
.loupe-reel-control-panel .loupe-image-highlight > * {
  display: inline-block;
}
.loupe-reel-control-panel .loupe-reel-controls {
  text-align: center;
}
.loupe-reel-control-panel .loupe-reel-controls .play-button {
  display: none;
}
.loupe-reel-control-panel .loupe-reel-controls button {
  vertical-align: middle;
}

.current-image-information {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  margin-bottom: 1em;
  max-width: 30em;
  opacity: 0;
  padding: 2em;
  position: fixed;
  text-align: center;
  top: 5%;
  top: 5vh;
  right: -600px;
  -webkit-transition: right 0.3s ease-out, opacity 0.3s ease-out;
          transition: right 0.3s ease-out, opacity 0.3s ease-out;
}
.current-image-information.active {
  right: 0;
  opacity: 1;
}
.current-image-information .col-1-1 {
  margin-bottom: 1em;
}
.current-image-information .current-image-marketplace-btn {
  display: inline-block;
  color: #000000;
  border: 1px solid #000000;
  float: left;
  margin-top: 0.3em;
  font-family: "ostrich_sansmedium",sans-serif;
}
.current-image-information .current-image-pricing {
  display: inline-block;
  margin-left: 2em;
  text-align: right;
  float: right;
}
.current-image-information .current-image-pricing p {
  font-family: "ostrich_sansmedium",sans-serif;
  margin: 0;
}
.current-image-information .current-image-name {
  margin: 0;
  padding-bottom: 0.5em;
  font-family: "ostrich_sansmedium",sans-serif;
}
.current-image-information .current-description {
  font-family: "freight-sans-pro",sans-serif;
}
.current-image-information .current-artist, .current-image-information .current-artist-website {
  font-family: "simplifica",sans-serif;
}

.slick-slider {
  margin: 0 auto;
}

.slick-next {
  right: 40px;
}

.slick-prev {
  left: 40px;
}

.uppercase {
  text-transform: uppercase;
}

@-webkit-keyframes slideOut {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -500px;
    opacity: 0;
  }
}

@keyframes slideOut {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -500px;
    opacity: 0;
  }
}
