body{
	background-color:#F8F8F8; 
	padding-left:10px; 
}

.title{
	border-top: 1px solid black;
	border-bottom: 1px solid black;  
	padding: 15px 0 15px 0; 
}

.leftrail{
    float:left; 
	border-right: 1px solid black;
	padding:10px 20px 10px 10px;  
	max-width:120px; 
}

.rightcontent{
	float:none;
	padding:10px;  
	max-width:600px; 
	margin-left:140px; 
}

.content{
	display:inline; 
}

.img{
	height:100px; 
	width: 100px; 
}
